@import url('./__url-heading/place__url-heading.css');
@import url('./__url-link/place__url-link.css');


.place__website {
  grid-area: website;
  align-self: end;
}


@media screen and (max-width: 320px) {
.place__website {
  display: none;
}  
  }