@import url('./place/place.css');

.places {
  max-width: 984px; 
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 1120px) {
    .places{
      max-width: 928px; 
      margin-left: calc((100% - 928px)/2);
      margin-right: calc((100% - 928px)/2);
    }
}

@media screen and (min-width: 700px) and (max-width: 816px) {
    .places{
      max-width: 720px; 
      margin-left: calc((100% - 720px)/2);
      margin-right: calc((100% - 720px)/2);
      margin-top: 88px;
      margin-bottom: 88px;
    }
}

@media screen and (max-width: 425px) {
    .places{
      max-width: 320px; 
      margin-left: calc((100% - 320px)/2);
      margin-right: calc((100% - 320px)/2);
      margin-top: 38px;
      margin-bottom: 64px;
    }
}