@import url('./place/place.css');

.places {
  max-width: 984px; 
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 1080px) {
    .places{ 
      margin-left: 48px;
      margin-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .places{ 
      max-width: 928px;
    }
}


@media screen and (max-width: 768px) {
    .places{
      max-width: 720px; 
      margin: 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .places{
      margin: 32px 0;
    }
}