.place__url-link  {
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  text-underline-position: under;
}

.place__url-link:hover  {
  opacity: .8;
}

@media screen and (max-width: 767px) {
    .place__url-link{
      font-size: 2.3vw;
    }
}