@import url('./__logo/header__logo.css');
@import url('./__lang-links/header__lang-links.css');

.header {
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  max-width: 1184px;
  padding: 28px 48px 56px 48px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}



@media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
      padding-bottom: 48px;
    }
}



/* Для плавного изменения отступов */
@media screen and (max-width: 816px) {
    .header {
      padding-right: calc((100% - 720px) / 2);
      padding-left: calc((100% - 720px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .header {
      max-width: 720px;
      padding: 28px 24px 48px 24px;
    }
}

/* Для плавного изменения отступов */

@media screen and (max-width: 336px) {
    .header {
      padding-right: calc((100% - 288px) / 2);
      padding-left: calc((100% - 288px) / 2);
    }
}


@media screen and (max-width: 320px) {
    .header {
      max-width: 288px;
      padding: 16px 16px 48px 16px;
      font-size: 18px;
      line-height: 1.33;
    }
}