.footer__copyright  {
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 425px) {
    .footer__copyright{
     display: block;
     padding-top: 16px;
     margin-left: 16px;
     padding-bottom: 24px;
     font-size: 14px;
     line-height: 1;
    }
}
