@import url('./_content/lead__image_content_path.css');
@import url('./_content/lead__image_content_train.css');

.lead__image  {
  max-width: 984px;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: 6.1%;
}

@media screen and (max-width: 1120px) {
      .lead__image{
        margin-top: 56px;
      }
}

@media screen and (max-width: 425px) {
      .lead__image{
        margin-top: 40px;
      }
}



