.intro__text  {
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
  .intro__text  {
   margin-bottom: 34px;
  }
}

 @media screen and (max-width: 320px) {
    .intro__text  {
    
}
} /*  пришлось так сделать, потому что тогда разьезжалось с макетом( */