@import url('./intro__header/intro__header.css');
@import url('./intro__text/intro__text.css');
@import url('./intro__list/intro__list.css');

.intro {
  max-width: 690px;
  margin:92px auto 92px 148px;
}


@media screen and (max-width: 1024px) {
    .intro {
      margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
      max-width: 720px;
      margin: 88px  24px;
    }
}

 @media screen and (max-width: 320px) {
    .intro {
      max-width: 288px;
      margin: 64px 16px;
    }
} 