.lead__subtitle {
  text-align: center;
  margin: 32px auto 64px auto;
  max-width: 640px;
  min-height: 72px;
  font-size: 30px;
  line-height: 1.2;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}


@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    min-height: 40px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 40px;
  }
} 