.lead__subtitle {
  text-align: center;
  margin: 24px auto 0 auto;
  max-width: 640px;
  min-height: 72px;
  font-size: 30px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 3.906vw;
  }
}
@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    min-height: 40px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
  }
} 