.place__paragraph-item  {
  margin: 0 0 24px 0;
  font-size: 18px;
  line-height: 1.67em;
}

.place__paragraph-item:last-child  {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
      .place__paragraph-item{
        font-size: 16px;
        line-height: 1.63;
}
@media screen and (max-width: 767px) {
    .place__paragraph-item{
      font-size: 2vw;
    }
}

@media screen and (max-width: 320px) {
      .place__paragraph-item{
        margin-left: 16px;
        margin-right: 16px;
}