@import url('./__lang-links-item/header__lang-links-item.css');
@import url('./__lang-links-item/__lang-link/header__lang-link.css');
@import url('./__lang-links-item/__lang-link/__lang-link_status/header__lang-link_status_active.css');

.header__lang-links  {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-block-end: 5px;
}

@media screen and (max-width: 450px) {
 .header__lang-links{ 
  padding-block-end: 7px;
  }
}