.text-hyphens_1280 {
        white-space: pre-line;
      }
@media screen and (max-width: 1024px) {
    .text-hyphens_1280 {
        white-space: normal;
      }
    .text-hyphens_768 {
        white-space: normal;
      }  
    .text-hyphens_320 {
        white-space: normal;
      }
    .text-hyphens_1024 {
        white-space: pre-line;
      }
      
}

@media screen and (max-width: 768px) {
    .text-hyphens_1280 {
        white-space: normal;
      }

    .text-hyphens_1024 {
        white-space: normal;
      }
    .text-hyphens_320 {
        white-space: normal;
      }
    .text-hyphens_768 {
        white-space: pre-line;
      }  
      
}

@media screen and (max-width: 320px) {
    .text-hyphens_1280 {
        white-space: normal;
      }

    .text-hyphens_1024 {
        white-space: normal;
      }
    .text-hyphens_768 {
        white-space: normal;
      }  
    .text-hyphens_320 {
        white-space: pre-line;
      }  
}
     

      

